/.DS_Store
ZonedHP/bungalow-1/baseline
ZonedHP/GBR_Birmingham.035340_IWEC.epw
ZonedHP/bungalow-2/out-dd-AAAA
ZonedHP/bungalow-2/out-dd-AABB
ZonedHP/bungalow-2/out-dd-ABAB
ZonedHP/bungalow-2/__pycache__
